<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSearchy</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.5.3/css/foundation.min.css'>
    <link rel='stylesheet' href='styles.css'>
    <script src='maps.js'></script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario' async defer></script>
  </head>
  <body>
    <div class='row'>
      <div class='small-12 columns'>
        <%= yield %>
      </div>
    </div>
  </body>
  <script src='//code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://cdn.jsdelivr.net/foundation/5.5.3/js/foundation.min.js'></script>
  <script>
    $(document).foundation();
    $(document).on('open.fndtn.reveal', '[data-reveal]', function () {
      console.log("Opening modal...");
});
  </script>
</html>
