<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Sinatra</title>
    <link rel='stylesheet' href='styles.css'>
  </head>
  <body>
    <h1>Hello world - let's search!</h1>
    <h2>The secret is: <%= ENV['PASSWORD'] %>.</h2>
  </body>
</html>
