@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  color: #141414;
  font-family: 'Open Sans'
}

footer {
  width: 80%;
  margin-top: 3rem;
  position: absolute;
  bottom: 1rem;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

h1 {
  color: red;
}

#map {
  height: 600px;
  width: 100%;
  border-radius: 10px;
}
